table {
  width: 100%;
  height: 100%;
  border: solid;
  border-width: 5px;
}

tr {
  height: 16px;
}

td {
  border: solid;
  border-width: .25px;
  width: 6.25%;
  background: white;
}

.quarter {
  border-width: .25px 3px .25px .25px;
}