/* changes the cursor when hovering over an image */
img:hover{ cursor: pointer; }

/* keeps the left and right buttons on the same line and adds some padding in between them */
.dont-break{
    display:inline;
    padding-left: 12px;
    padding-right: 12px;
}

/* adds some style to the buttons */
.button-stuff{
    width: 50px;
    height: 50px;
    background: #3d0c0c;
    font-size: 40px;
    color: pink;
    border-radius: 2px;
    border-color: black;
    line-height: 25px;
}

/* adds some space between each image and keeps them on one line */
.image-things{
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
}

/* Also keeps the carousel on one line */
.let-it-end{ display: inline; }

/* keeps the whole carousel on one line and allows it to run off the screen without wrapping */
.carousel-holder{
    white-space: nowrap;
    overflow: hidden;
}

/* puts the buttons in the center of the screen and adds some padding between them and the carousel */
.buttons{
    text-align: center;
    padding-top: 20px;
}

/* gives the current item in the carousel a bigger display */
.focus-on-me{
    display: inline;
    position: relative;
    transform: scale(1.15); 
}

/* Expands buttons on hover over a short time */
.button-stuff:hover{
     transform: scale(1.25); 
     transition: .25s;
}

