.outer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6b715c;
  cursor: pointer;
}

.inner {
  margin: 18.75px;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: #362c28;
}

.highlighted {
  background: #d4fcc3;
}

.unhighlighted {
  background: #9fb78f;
}
