.container{
  background-color: #9FB78F;
  border: hidden;
  border-radius: 10px;
  height: auto;
  padding: 0px;
  min-height: 1000px;
  overflow: hidden;
}

.side-bar{
background-color: #4e5245;
width: 11%; 
height: auto;
border: 3px solid #EDFF86;
border-radius: 10px;
margin: 20px 0px 0px 0px;
}

.side-bar-button{
  border: 3px solid #EDFF86;
  height: 180px;
  margin: 10px;
  border-radius: 10px;
  background-color: #9FB78F;
  font-size: 24px;
  text-align: center;
  padding: 50px 20px;
  color: black;
}

.side-bar-button:hover{

background-color: #362C28;
color: #EDF886;
cursor: pointer;
}

.component{
  width: 87%;
  height: 100%;
  float: right;
  border: hidden;
  border-radius: 10px; 
}