.outer {
    width: 500px;
    /*border-style: solid;
    border-color: #6b715c;*/
    border: 1px solid #EDFF86;
    border-radius: 10px;
    background: #362c28;
    padding: 8px 9px;
    margin: 0px 0px 0px 20px;
    display: inline-block;
  }
  
  label {
    color: #d4fcc3;
  }
  
  button {
    color: #000000;
    background: #9fb78f;
  }
  
  button.text-button {
    width: 60px;
  }

  button:hover {
    background-color: #362C28;
    color: #EDF886;
    cursor: pointer;
  }

  p {
      color: #d4fcc3;
  }