.flip{
  transform: scaleY(-1);
}

.top-div{
  background-color: #4e5245;
  border: 3px solid #EDFF86;
  border-radius: 10px;
  width: 100%;
  padding: 5px; 
  height: 20%;
}

.c-book{
  background-color: #4e5245;
  border: 3px solid #EDFF86;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  min-height: 550px;
  overflow: hidden;
  margin: 5% 0% 0% 0%;
}

.auto-player{
  float: right;
  display: inline;
  margin: 0px;
}