.outer {
  width: 500px;
  border-style: solid;
  border-color: #362c28;
  background: #362c28;
  padding: 10px;
}

label {
  color: #f0e478;
}

button.symbolButton {
  color: black;
  background: #f0e478;
  width: 50px;
  font-weight: bold;
  font-size: 100%;
}

button.textButton {
  color: black;
  background: #f0e478;
  width: 50px;
}
