li{
  background-color: #755628;
}

lightning-button{
  margin-top: -3px;
  margin-bottom: -3px;
  border-collapse: true;
  background: linear-gradient(#A5A5A5, #A5A5A5) no-repeat center/2px 100%
}
